/*@import url('https://fonts.googleapis.com/css?family=Bangers|Roboto&display=swap');

body{
    margin: 0px;
    padding: 0px;
    font-family: "Bangers";
    width: 100%;
    height: 100%;
    overflow-x: hidden; 
}

.navbar{
    background-color: orange;
}

.introduction{
    height: 60vh;
    background-color: blue;
}

.countries{
    background-color: pink;
    height: 60vh;
}

.map{
    padding: 0px;
}

#map{
    height: 60vh;
}

.extra{
    background-color: red;
    height: 20vh;
}

.transport{
    background-color: orange;
    height: 300px;
}

.travel{
    background-color: green;
    height: 300px;
}

.footer{
    background-color: orange;
    height: 100px;
    text-align: center;
    padding: 0px;
}

ul{
    list-style-type: none;
    display: inline-flex;
    padding-left: 0px;
}

li{
    font-size: 150%;
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 30px;
}

p{
    font-size: 30px;
}

a{
    color: black;
}

#flag img{
    height:100px;
    width:200px;
    
}*/

body, html {
  height: 100%;
}

.parallax {
 
  background-image: url('/assets/images/rome.jpg');
  height: 100%; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.parallax2 {
 
  background-image: url('/assets/images/cliff.jpg');
  height: 100%; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.parallax3 {
 
  background-image: url('/assets/images/japan.jpg');
  height: 100%; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.scroll{
    height:1000px;
    background-color:red;
    font-size:36px;
}