@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');



body, html {
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: "Merriweather";
}

.parallax {
 
  background-image: url('../images/rome.jpg');
  height: 100%; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.parallax2 {
 
  background-image: url('../images/cliff.jpg');
  height: 50%; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.parallax3 {
 
  background-image: url('../images/japan.jpg');
  height: 50%; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.scroll{
    height:500px;
    background-color:slategrey;
    font-size:20px;
    text-align:center;
    padding-top: 5%;
    
}

.scroll2{
    height:500px;
    background-color:slategrey;
    font-size:20px;
    text-align:center;
}

.scroll3{
    height:400px;
    background-color:slategrey;
    font-size:20px;
    text-align:center;
}


.footer{
    background-color: orange;
    height: 100px;
    text-align: center;
    padding: 0px;
}

ul{
    list-style-type: none;
    display: inline-flex;
    padding-left: 0px;
}

li{
    font-size: 150%;
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 30px;
}

#flag img{
    height:150px;
    width:300px;
    margin-bottom: 2%;
}

#map{
    height:430px;
    margin-left: 30px;
    margin-right: 30px;
}

#totop{
    color: red;
}

#totop:hover{
    color: green;
    transition: color 0.5s ease-in-out;
}

#tobottom{
    color: green;
}

#tobottom:hover{
    color: red;
    transition: color 0.5s ease-in-out;
}

#bottom{
    margin-top: 2%;
}
