@import url('https://fonts.googleapis.com/css?family=Bangers|Roboto&display=swap');

body{
    margin: 0px;
    padding: 0px;
    font-family: "Bangers"
}

.navbar{
    background-color: orange;
}

.introduction{
    height: 60vh;
    background-color: blue;
}

.countries{
    background-color: pink;
    height: 60vh;
}

.map{
    padding: 0px;
}

#map{
    height: 60vh;
}

.extra{
    background-color: red;
    height: 20vh;
}

.transport{
    background-color: orange;
    height: 300px;
}

.travel{
    background-color: green;
    height: 300px;
}

.footer{
    background-color: orange;
    height: 100px;
    text-align: center;
    padding: 0px;
}

ul{
    list-style-type: none;
    display: inline-flex;
    padding-left: 0px;
}

li{
    font-size: 150%;
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 30px;
}

p{
    font-size: 30px;
}

a{
    color: black;
}

#flag img{
    height:50px;
    width:100px;
}


/*
#map {
  height: 100%;
}
/* Optional: Makes the sample page fill the window. 
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#floating-panel {
  position: absolute;
  top: 10px;
  left: 25%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
*/